page-worker-main {
    h3{
      text-align: center;  
    }
    h1{
        text-align: center;
    }
    .showCalendarBtn{
        display: block;
        margin: 10px auto;
    }
    ion-card{
        text-align: center;
    }
}
